/**
 * Gutenberg editor styles
 */
.edit-post-visual-editor .editor-block-list__block {
  color: #131313;
  color: var(--black);
  margin: 0 auto;
}
.edit-post-visual-editor .editor-block-list__block p {
  color: #131313;
  color: var(--black);
}
@media (min-width: 1600px) {
  .edit-post-visual-editor .editor-block-list__block {
    max-width: 1178px;
  }
}
@media (max-width: 1599px) {
  .edit-post-visual-editor .editor-block-list__block {
    max-width: 800px;
  }
}
.edit-post-visual-editor .editor-block-list__block[data-align="wide"] {
  max-width: 1400px;
}
@media (max-width: 1599px) {
  .edit-post-visual-editor .editor-block-list__block[data-align="wide"] {
    max-width: 1200px;
  }
}
.edit-post-visual-editor .editor-block-list__block[data-align="full"] {
  max-width: none;
}
.wp-block-button__link {
  font-family: 'Magra', serif;
  font-family: var(--font-headers), serif;
  font-weight: 700;
  color: #131313 !important;
  color: var(--black) !important;
}
.wp-block-button__link:hover {
  color: #fff !important;
  color: var(--white) !important;
}
.wp-block-pullquote cite,
.wp-block-quote__citation,
.wp-block-quote cite,
.wp-block-quote footer {
  font-size: 18px;
  font-family: 'Magra', serif;
  font-family: var(--font-headers), serif;
  font-weight: 700;
}
.wp-block.editor-post-title__block {
  max-width: 1400px;
  margin-bottom: 14px;
}
.editor-styles-wrapper {
  line-height: 1.6em;
}
.editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit {
  margin-top: 0;
  margin-bottom: 0;
}
.edit-post-visual-editor p,
.edit-post-visual-editor,
.blocks-rich-text__tinymce.mce-content-body {
  font-size: inherit;
  line-height: 1.6em;
}
.editor-post-title__block .editor-post-title__input,
.edit-post-visual-editor .editor-block-list__block-edit,
.edit-post-visual-editor {
  font-family: 'Merriweather', sans-serif;
  font-family: var(--font-main), sans-serif;
  font-weight: 400;
}
.editor-post-title__block .editor-post-title__input {
  font-family: 'Magra', serif;
  font-family: var(--font-headers), serif;
  font-weight: 700;
}
.editor-post-title__block .editor-post-title__input {
  font-size: 60px;
  line-height: 1.2em;
  text-align: center;
}
.edit-post-visual-editor .editor-block-list__block h1.mce-content-body,
.edit-post-visual-editor .editor-block-list__block h2.mce-content-body,
.edit-post-visual-editor .editor-block-list__block h3.mce-content-body,
.edit-post-visual-editor .editor-block-list__block h4.mce-content-body,
.edit-post-visual-editor .editor-block-list__block h5.mce-content-body,
.edit-post-visual-editor .editor-block-list__block h6.mce-content-body {
  font-family: 'Magra', serif;
  font-family: var(--font-headers), serif;
  font-weight: 700;
}
.edit-post-visual-editor .editor-block-list__block .has-main-theme-color {
  color: #F7DB15;
  color: var(--main);
}
.edit-post-visual-editor .editor-block-list__block .has-gray-color {
  color: #F4F4F4;
  color: var(--gray);
}
.edit-post-visual-editor .editor-block-list__block .has-black-color {
  color: #131313;
  color: var(--black);
}
.edit-post-visual-editor .editor-block-list__block .has-red-color {
  color: #EE4118;
  color: var(--red);
}
.edit-post-visual-editor .editor-block-list__block .has-main-theme-background-color {
  background-color: #F7DB15;
  background-color: var(--main);
}
.edit-post-visual-editor .editor-block-list__block .has-gray-background-color {
  background-color: #F4F4F4;
  background-color: var(--gray);
}
.edit-post-visual-editor .editor-block-list__block .has-black-background-color {
  background-color: #131313;
  background-color: var(--black);
}
.edit-post-visual-editor .editor-block-list__block .has-red-background-color {
  background-color: #EE4118;
  background-color: var(--red);
}
.edit-post-visual-editor .editor-block-list__block .ltx-font {
  display: inline-block;
  font-family: ltx-font;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.edit-post-visual-editor .editor-block-list__block .ltx-font.ltx-icon-arrow:before {
  content: '\e80c';
}
.edit-post-visual-editor .editor-block-list__block .ltx-font.ltx-icon-share:before {
  content: '\e80d';
}
.edit-post-visual-editor .editor-block-list__block p {
  font-size: 18px;
  line-height: 1.6em;
  font-family: 'Merriweather', sans-serif;
  font-family: var(--font-main), sans-serif;
  font-weight: 400;
}
.edit-post-visual-editor .editor-block-list__block .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.edit-post-visual-editor .editor-block-list__block a {
  text-decoration: none;
  color: #131313;
  color: var(--black);
}
.edit-post-visual-editor .editor-block-list__block a:focus,
.edit-post-visual-editor .editor-block-list__block a:hover {
  color: #F7DB15;
  color: var(--main);
  text-decoration: none;
}
.edit-post-visual-editor .editor-block-list__block h1,
.edit-post-visual-editor .editor-block-list__block h2,
.edit-post-visual-editor .editor-block-list__block h3,
.edit-post-visual-editor .editor-block-list__block h4,
.edit-post-visual-editor .editor-block-list__block h5,
.edit-post-visual-editor .editor-block-list__block h6 {
  clear: both;
  line-height: 1.3em;
}
.edit-post-visual-editor .editor-block-list__block h1,
.edit-post-visual-editor .editor-block-list__block .h1 {
  margin: 0 0 10px;
  font-size: 80px;
}
@media (max-width: 1199px) {
  .edit-post-visual-editor .editor-block-list__block h1,
  .edit-post-visual-editor .editor-block-list__block .h1 {
    font-size: 64px;
  }
}
@media (max-width: 991px) {
  .edit-post-visual-editor .editor-block-list__block h1,
  .edit-post-visual-editor .editor-block-list__block .h1 {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .edit-post-visual-editor .editor-block-list__block h1,
  .edit-post-visual-editor .editor-block-list__block .h1 {
    font-size: 48px;
  }
}
@media (max-width: 479px) {
  .edit-post-visual-editor .editor-block-list__block h1,
  .edit-post-visual-editor .editor-block-list__block .h1 {
    font-size: 32px;
  }
}
.edit-post-visual-editor .editor-block-list__block h2,
.edit-post-visual-editor .editor-block-list__block .h2 {
  margin: 42px 0 16px;
  font-size: 60px;
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .edit-post-visual-editor .editor-block-list__block h2,
  .edit-post-visual-editor .editor-block-list__block .h2 {
    font-size: 56px;
  }
}
@media (max-width: 1199px) {
  .edit-post-visual-editor .editor-block-list__block h2,
  .edit-post-visual-editor .editor-block-list__block .h2 {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .edit-post-visual-editor .editor-block-list__block h2,
  .edit-post-visual-editor .editor-block-list__block .h2 {
    font-size: 48px;
  }
}
.edit-post-visual-editor .editor-block-list__block h3,
.edit-post-visual-editor .editor-block-list__block .h3 {
  margin: 42px 0 16px;
  font-size: 48px;
}
@media (max-width: 768px) {
  .edit-post-visual-editor .editor-block-list__block h3,
  .edit-post-visual-editor .editor-block-list__block .h3 {
    font-size: 28px;
  }
}
.edit-post-visual-editor .editor-block-list__block h4,
.edit-post-visual-editor .editor-block-list__block .h4 {
  margin: 42px 0 16px;
  font-size: 36px;
}
@media (max-width: 768px) {
  .edit-post-visual-editor .editor-block-list__block h4,
  .edit-post-visual-editor .editor-block-list__block .h4 {
    font-size: 24px;
  }
}
.edit-post-visual-editor .editor-block-list__block h5,
.edit-post-visual-editor .editor-block-list__block .h5 {
  margin: 42px 0 16px;
  font-size: 30px;
}
.edit-post-visual-editor .editor-block-list__block h6,
.edit-post-visual-editor .editor-block-list__block .h6 {
  margin: 42px 0 16px;
  font-size: 24px;
}
.edit-post-visual-editor .editor-block-list__block figure {
  margin: 1em 0px;
}
.edit-post-visual-editor .editor-block-list__block pre {
  font-size: 18px;
  line-height: 1.6em;
  font-family: 'Merriweather', sans-serif;
  font-family: var(--font-main), sans-serif;
  font-weight: 400;
  border: 0;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  padding: 45px;
  background-color: #F4F4F4;
  background-color: var(--gray);
}
.edit-post-visual-editor .editor-block-list__block code {
  color: #131313;
  color: var(--black);
  background-color: #F4F4F4;
  background-color: var(--gray);
}
.edit-post-visual-editor .editor-block-list__block hr {
  margin: 20px 0;
  border-color: #131313;
  border-color: var(--black);
  zoom: 1;
  filter: alpha(opacity=15);
  -webkit-opacity: 0.15;
  -moz-opacity: 0.15;
  opacity: 0.15;
}
.edit-post-visual-editor .editor-block-list__block hr.wp-block-separator {
  max-width: 200px !important;
  margin: 20px auto !important;
  border-top: 1px solid #131313;
  border-bottom: 0;
}
.edit-post-visual-editor .editor-block-list__block hr.wp-block-separator.is-style-wide {
  max-width: initial;
  border-top: 2px solid #131313;
  border-bottom: 0;
}
.edit-post-visual-editor .editor-block-list__block hr.wp-block-separator.is-style-dots {
  max-width: 200px;
  border-top-style: dotted;
}
.edit-post-visual-editor .editor-block-list__block hr.wp-block-separator.is-style-dots:before {
  display: none;
}
.edit-post-visual-editor .editor-block-list__block blockquote {
  border: 0 none;
  margin: 40px 0 40px 0px;
  padding: 50px 80px 70px;
  position: relative;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  color: #131313;
  color: var(--black);
  border: 4px solid #F7DB15;
  border-color: #F7DB15;
  border-color: var(--main);
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
}
@media (max-width: 768px) {
  .edit-post-visual-editor .editor-block-list__block blockquote {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.edit-post-visual-editor .editor-block-list__block blockquote:before {
  font-style: normal;
  display: block;
  content: "‘‘";
  text-align: center;
  color: #F7DB15;
  color: var(--main);
  font-size: 80px;
  font-weight: bold;
  height: 48px;
  overflow: hidden;
  line-height: 1em;
  margin-top: 0px;
  margin-bottom: 10px;
}
.edit-post-visual-editor .editor-block-list__block blockquote.wp-block-quote:not(.is-large):not(.is-style-large) {
  padding: 60px 60px 60px;
  border-color: #F7DB15;
  border-color: var(--main);
}
.edit-post-visual-editor .editor-block-list__block blockquote.wp-block-quote.is-large {
  padding: 60px 60px 60px;
}
.edit-post-visual-editor .editor-block-list__block blockquote.wp-block-quote.is-large cite,
.edit-post-visual-editor .editor-block-list__block blockquote.wp-block-quote.is-large p {
  text-align: center;
}
.edit-post-visual-editor .editor-block-list__block blockquote cite {
  font-weight: black;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
  display: block;
  font-size: 18px;
  font-family: 'Magra', serif;
  font-family: var(--font-headers), serif;
  font-weight: 700;
  color: #131313;
  color: var(--black);
}
.edit-post-visual-editor .editor-block-list__block blockquote > p {
  font-weight: normal;
  font-size: 24px !important;
}
@media (max-width: 768px) {
  .edit-post-visual-editor .editor-block-list__block blockquote > p {
    font-size: 18px !important;
  }
}
.edit-post-visual-editor .editor-block-list__block blockquote a {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  color: #131313;
  color: var(--black);
}
.edit-post-visual-editor .editor-block-list__block blockquote a:hover {
  color: #F7DB15;
  color: var(--main);
}
.edit-post-visual-editor .editor-block-list__block .wp-block-pullquote.alignleft p,
.edit-post-visual-editor .editor-block-list__block .wp-block-pullquote.alignright p {
  font-size: 16px;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-pullquote p {
  font-size: 18px;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-pullquote cite {
  text-align: center;
  text-transform: none;
}
.edit-post-visual-editor .editor-block-list__block ul.aligncenter {
  list-style: none;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-pullquote {
  border: 0 none;
  color: #131313;
  color: var(--black);
  padding: 0;
}
.edit-post-visual-editor .editor-block-list__block ul.wp-block-gallery {
  margin-left: 0;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-button__link {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #F7DB15;
  background-color: var(--main);
}
.edit-post-visual-editor .editor-block-list__block .wp-block-button__link:hover {
  background-color: #131313;
  background-color: var(--black);
}
.edit-post-visual-editor .editor-block-list__block .wp-block-cover,
.edit-post-visual-editor .editor-block-list__block .wp-block-cover-image {
  margin-bottom: 20px;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-cover .wp-block-cover-text {
  font-size: 24px;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper,
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper,
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper,
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper,
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper,
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper,
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper {
  position: relative;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper iframe,
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper iframe,
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper iframe,
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper iframe,
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper iframe,
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper iframe,
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper iframe {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper:before,
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper:before,
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper:before,
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper:before,
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper:before,
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper:before,
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper:before {
  content: "";
  display: block;
  padding-top: 50%;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper:before {
  padding-top: 42.85%;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper:before {
  padding-top: 50%;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper:before {
  padding-top: 56.25%;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper:before {
  padding-top: 75%;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper:before {
  padding-top: 100%;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-9-6 .wp-block-embed__wrapper:before {
  padding-top: 66.66%;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper:before {
  padding-top: 200%;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-button__link {
  font-family: 'Magra', serif;
  font-family: var(--font-headers), serif;
  font-weight: 700;
  color: #131313;
  color: var(--black);
}
.edit-post-visual-editor .editor-block-list__block .wp-block-pullquote cite,
.edit-post-visual-editor .editor-block-list__block .wp-block-quote__citation,
.edit-post-visual-editor .editor-block-list__block .wp-block-quote cite,
.edit-post-visual-editor .editor-block-list__block .wp-block-quote footer {
  font-size: 18px;
  font-family: 'Magra', serif;
  font-family: var(--font-headers), serif;
  font-weight: 700;
  color: #131313;
  color: var(--black);
}
.edit-post-visual-editor .editor-block-list__block .blog-post p.has-small-font-size,
.edit-post-visual-editor .editor-block-list__block p.has-small-font-size {
  font-size: 14px;
}
.edit-post-visual-editor .editor-block-list__block .blog-post p.has-large-font-size,
.edit-post-visual-editor .editor-block-list__block p.has-large-font-size {
  font-size: 24px;
}
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
}
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) th,
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) td {
  padding: 20px 32px;
  font-size: 16px;
}
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) thead tr:first-child th:first-child {
  -webkit-border-top-left-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-topleft: 0px;
  -moz-background-clip: padding;
  border-top-left-radius: 0px;
  background-clip: padding-box;
}
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) thead tr:first-child th:last-child {
  -webkit-border-top-right-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-topright: 0px;
  -moz-background-clip: padding;
  border-top-right-radius: 0px;
  background-clip: padding-box;
}
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) thead th {
  background-color: #131313;
  background-color: var(--black);
  color: #fff;
  color: var(--white);
  font-size: 20px;
  font-family: 'Magra', serif;
  font-family: var(--font-headers), serif;
  font-weight: 700;
}
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) thead th h1,
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) thead th h2,
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) thead th h3,
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) thead th h4,
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) thead th h5,
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) thead th h6 {
  text-transform: none;
}
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) thead th a {
  color: #fff;
  color: var(--white);
}
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) thead + tbody:first-child tr:first-child td,
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) thead + tbody:first-child tr:first-child th {
  border-top: 0;
}
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) tbody th,
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) tbody td {
  border-top: 0;
  border-left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) tbody th:first-child,
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) tbody td:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) tbody th {
  font-weight: bold;
  background-color: #F4F4F4;
  background-color: var(--gray);
}
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) tbody:first-child tr:first-child td,
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) tbody:first-child tr:first-child th {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) tbody:first-child tr:first-child > th {
  background-color: #131313;
  background-color: var(--black);
  color: #fff;
  color: var(--white);
  border-right: none;
  border-top: none;
  border-bottom: none;
  font-size: 18px;
}
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) tbody:first-child tr:first-child th:first-child {
  -webkit-border-top-left-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-topleft: 0px;
  -moz-background-clip: padding;
  border-top-left-radius: 0px;
  background-clip: padding-box;
}
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) tbody:first-child tr:first-child th:last-child {
  -webkit-border-top-right-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-topright: 0px;
  -moz-background-clip: padding;
  border-top-right-radius: 0px;
  background-clip: padding-box;
}
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) tbody tr:nth-child(even) td {
  background: transparent;
}
.edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) td {
  border: 1px solid var(--white);
}
@media (max-width: 768px) {
  .edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) thead th {
    font-size: 14px;
  }
  .edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) th,
  .edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) td {
    font-size: 12px;
    padding: 10px 12px;
  }
}
@media (max-width: 479px) {
  .edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) th,
  .edit-post-visual-editor .editor-block-list__block table:not(#wp-calendar):not(.variations) td {
    font-size: 12px;
    padding: 5px 7px;
  }
}
.edit-post-visual-editor .editor-block-list__block h1 {
  margin-bottom: 16px;
}
.edit-post-visual-editor .editor-block-list__block h1 + h2,
.edit-post-visual-editor .editor-block-list__block h1 + h3,
.edit-post-visual-editor .editor-block-list__block h1 + h4,
.edit-post-visual-editor .editor-block-list__block h1 + h5,
.edit-post-visual-editor .editor-block-list__block h1 + h6,
.edit-post-visual-editor .editor-block-list__block h2 + h3,
.edit-post-visual-editor .editor-block-list__block h2 + h4,
.edit-post-visual-editor .editor-block-list__block h2 + h5,
.edit-post-visual-editor .editor-block-list__block h2 + h6,
.edit-post-visual-editor .editor-block-list__block h3 + h4,
.edit-post-visual-editor .editor-block-list__block h3 + h5,
.edit-post-visual-editor .editor-block-list__block h3 + h6,
.edit-post-visual-editor .editor-block-list__block h4 + h5,
.edit-post-visual-editor .editor-block-list__block h4 + h6,
.edit-post-visual-editor .editor-block-list__block h5 + h6 {
  margin-top: 0;
}
.edit-post-visual-editor .editor-block-list__block hr {
  margin: 30px 0 26px 0;
}
.edit-post-visual-editor .editor-block-list__block hr + h1,
.edit-post-visual-editor .editor-block-list__block hr + h2,
.edit-post-visual-editor .editor-block-list__block hr + h3 {
  margin-top: 30px;
}
.edit-post-visual-editor .editor-block-list__block dl dd {
  margin: 0 0 10px 20px;
}
.edit-post-visual-editor .editor-block-list__block ol ul,
.edit-post-visual-editor .editor-block-list__block ul ul,
.edit-post-visual-editor .editor-block-list__block ol ol,
.edit-post-visual-editor .editor-block-list__block ul ol {
  margin-top: 6px;
}
.edit-post-visual-editor .editor-block-list__block dt {
  font-weight: bold;
}
.edit-post-visual-editor .editor-block-list__block p {
  margin-bottom: 30px;
}
.edit-post-visual-editor .editor-block-list__block kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.edit-post-visual-editor .editor-block-list__block code,
.edit-post-visual-editor .editor-block-list__block kbd,
.edit-post-visual-editor .editor-block-list__block pre,
.edit-post-visual-editor .editor-block-list__block samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
.edit-post-visual-editor .editor-block-list__block abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
.edit-post-visual-editor .editor-block-list__block hr {
  border-top: 1px solid #131313;
  border-bottom: 0 !important;
}
.edit-post-visual-editor .editor-block-list__block[data-align="center"] ul {
  list-style-type: none !important;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-quote__citation,
.edit-post-visual-editor .editor-block-list__block .wp-block-pullquote__citation {
  text-transform: none;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-quote__citation:before,
.edit-post-visual-editor .editor-block-list__block .wp-block-pullquote__citation:before {
  content: "";
  border-top: 2px solid #F7DB15;
  width: 50px;
  margin: -10px auto 0px;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.edit-post-visual-editor .editor-block-list__block .wp-block-table__cell-content {
  padding: 0;
}
.edit-post-visual-editor .editor-block-list__block[data-type="core/heading"] + div[data-type="core/heading"] .editor-rich-text__tinymce {
  margin-top: 0 !important;
}
.edit-post-visual-editor .editor-block-list__block ul li {
  margin-bottom: 6px;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-image {
  margin-bottom: 1em !important;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-image figcaption {
  margin-top: -4px;
}
.edit-post-visual-editor .editor-block-list__block .wp-block-cover__inner-container .wp-block p,
.edit-post-visual-editor .editor-block-list__block .wp-block-cover .wp-block-cover-text {
  color: #fff;
  color: var(--white);
}
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit .wp-block-button {
  margin-bottom: 1.5em;
}
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit .wp-block-image img {
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
}
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit .wp-block-gallery figure {
  margin-top: 0;
  margin-bottom: 0;
}
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit .wp-block-pullquote__citation {
  font-family: 'Magra', serif;
  font-family: var(--font-headers), serif;
  font-weight: 700;
  font-size: 18px;
  color: #131313;
  color: var(--black-text);
}
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit .wp-block-pullquote.alignleft {
  margin-right: 30px;
}
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit .wp-block-pullquote.alignright {
  margin-left: 30px;
}
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit .wp-block-pullquote__citation:before,
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit .wp-block-quote__citation:before {
  display: none;
}
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit blockquote p {
  color: #131313;
  color: var(--black);
  font-size: 24px;
}
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit blockquote div {
  text-align: center;
}
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit blockquote.wp-block-quote.is-large,
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit blockquote.wp-block-quote.is-style-large {
  border-color: #F7DB15;
  border-color: var(--main);
}
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit blockquote.wp-block-quote.is-large p,
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit blockquote.wp-block-quote.is-style-large p {
  font-size: 20px;
}
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit h1,
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit h2,
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit h3,
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit h4,
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit h5,
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit h6 {
  font-family: 'Magra', serif;
  font-family: var(--font-headers), serif;
  font-weight: 700;
  color: #131313;
  color: var(--black);
}
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit ul,
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit li,
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit pre {
  font-size: 18px;
  line-height: 1.6em;
  font-family: 'Merriweather', sans-serif;
  font-family: var(--font-main), sans-serif;
  font-weight: 400;
}
.mpp-profile-gutenberg-wrap {
  background-color: #F4F4F4;
  background-color: var(--gray);
  color: #131313;
  color: var(--black);
}
@font-face {
  font-family: 'jtx-font';
  src: url('../fonts/jtx-font.eot?67100412');
  src: url('../fonts/jtx-font.eot?67100412#iefix') format('embedded-opentype'), url('../fonts/jtx-font.woff2?67100412') format('woff2'), url('../fonts/jtx-font.woff?67100412') format('woff'), url('../fonts/jtx-font.ttf?67100412') format('truetype'), url('../fonts/jtx-font.svg?67100412#jtx-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font-main {
  font-family: 'Merriweather', sans-serif;
  font-family: var(--font-main), sans-serif;
  font-weight: 400;
}
.font-headers {
  font-family: 'Magra', serif;
  font-family: var(--font-headers), serif;
  font-weight: 700;
}
.font-subheaders {
  font-family: 'Magra', serif;
  font-family: var(--font-subheaders), serif;
  font-weight: 700;
}
:root {
  --font-main: 'Catamaran';
  --font-headers: 'Mukta';
  --font-subheaders: 'Mukta';
  --main: #F7DB15;
  --main-darker: #6E9761;
  --main-lighter: #A3D09E;
  --second: #4CC675;
  --gray: #F4F4F4;
  --gray-dark: rgba(0, 0, 0, 0.4);
  --gray-light: rgba(0, 0, 0, 0.1);
  --white: #ffffff;
  --white-text: rgba(255, 255, 255, 0.75);
  --black-darker: #0a182d;
  --black: #131313;
  --black-text: #131313;
  --black-light: rgba(19, 19, 19, 0.7);
  --red: #EE4118;
}
.color-main {
  color: #F7DB15;
  color: var(--main);
}
.color-second {
  color: #F7DB15;
  color: var(--main);
}
.color-gray {
  color: rgba(0, 0, 0, 0.4);
}
.color-white {
  color: #fff;
  color: var(--white);
}
.color-black {
  color: #131313;
  color: var(--black);
}
.color-red {
  color: #EE4118;
  color: var(--red);
}
.text-main {
  font-size: 18px;
  line-height: 1.6em;
  font-family: 'Merriweather', sans-serif;
  font-family: var(--font-main), sans-serif;
  font-weight: 400;
}
.black-browser-color {
  color: #0a182d;
  color: var(--black-darker);
}
@-moz-document url-prefix() {
  .black-browser-color {
    color: #131313;
    color: var(--black);
  }
}
