
.icon-graphic-design:before { content: '\e800'; } /* '' */
.icon-message:before { content: '\e801'; } /* '' */
.icon-wifi:before { content: '\e802'; } /* '' */
.icon-printer:before { content: '\e803'; } /* '' */
.icon-projector:before { content: '\e804'; } /* '' */
.icon-restaurant:before { content: '\e805'; } /* '' */
.icon-parking:before { content: '\e806'; } /* '' */
.icon-cabinet:before { content: '\e807'; } /* '' */
.icon-gamepad:before { content: '\e808'; } /* '' */
.icon-area:before { content: '\e809'; } /* '' */
.icon-payment:before { content: '\e80a'; } /* '' */
.icon-chair:before { content: '\e80b'; } /* '' */
.icon-arrow:before { content: '\e80c'; } /* '' */
.icon-share:before { content: '\e80d'; } /* '' */
.icon-phone_top:before { content: '\e80e'; } /* '' */
.icon-marketing:before { content: '\e80f'; } /* '' */
.icon-strategy:before { content: '\e810'; } /* '' */
.icon-video:before { content: '\e811'; } /* '' */
.icon-branding:before { content: '\e812'; } /* '' */